*{
    margin: 0;
    padding: 0;

}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../img/b.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
   

  
}
h1{
    font-size: 30px;
    font-weight: bold;
}
.needs-validation{

  
}
.a{
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 30px;

}
.needs-validation{
    margin-left: 10px;
    margin-right: 10px;
}
.p{
font-size: 300px;
}