.change{
    margin-top: 20px;
}
.change .a{
    font-size: 30px;
    font-weight: bold;
}
.change .b{
    font-size: 20px;
}
.c{
    margin-left: 350px;
}
.d{
    font-size: 20px;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 70px;
}
.e{


margin-left: 140px;

}